---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Daily Shop | Home</title>
    
    {{{stylesheet '/assets/css/customtheme.css'}}}
    {{{stylesheet '/assets/css/theme.css'}}}   
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body> 
 <!-- wpf loader Two -->
  <div id="wpf-loader-two">          
    <div class="wpf-loader-two-inner">
      <span>Loading</span>
    </div>
  </div> 
  <!-- / wpf loader Two -->       
<!-- SCROLL TOP BUTTON -->
  <a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->
{{> layout/custom/custombase}}

  <!-- / header section -->
  <!-- menu -->
  <section id="menu">
    {{>components/common/navigation-menu}}
  </section>

  <section id="aa-catg-head-banner">
    <img src="../../assets/custom/img/6083501.jpg" alt="fashion img">
   
   </section>
   <section id="aa-product-details">
    <div class="container">
        {{> components/products/product-view}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}
    </div>

   </section>





   <footer id="aa-footer">
    <!-- footer bottom -->
    {{>components/common/footer}}
</footer>
<!-- / footer -->





   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../assets/custom/js/bootstrap.js"></script>
  <!-- SmartMenus jQuery plugin -->
  <script type="text/javascript" src="../../assets/custom/js/jquery.smartmenus.js"></script>
  <!-- SmartMenus jQuery Bootstrap Addon -->
  <script type="text/javascript" src="../../assets/custom/js/jquery.smartmenus.bootstrap.js"></script>
  <!-- To Slider JS -->
  <script src="../../assets/custom/js/sequence.js"></script>
  <script src="../../assets/custom/js/sequence-theme.modern-slide-in.js"></script>
  <!-- Product view slider -->
  <script type="text/javascript" src="../../assets/custom/js/jquery.simpleGallery.js"></script>
  <script type="text/javascript" src="../../assets/custom/js/jquery.simpleLens.js"></script>
  <!-- slick slider -->
  <script type="text/javascript" src="../../assets/custom/js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="../../assets/custom/js/nouislider.js"></script>
  <!-- Custom js -->
  <script src="../../assets/custom/js/custom.js"></script>

  </body>
  
</html>

