 <!-- <ul class="aa-catg-nav" >
    <li>
        <a  href="/shop-all/" aria-label="Shop All">
Shop All
</a>
    </li>
    <li>
        <a  href="/bath/" aria-label="Bath">
Bath
</a>
    </li>
    <li>
        <a  href="/garden/" aria-label="Garden">
Garden
</a>
    </li>
    <li>
        <a  href="/kitchen/" aria-label="Kitchen">
Kitchen
</a>
    </li>
    <li>
        <a href="/publications/" aria-label="Publications">
Publications
</a>
    </li>
    <li>
        <a  href="/utility/" aria-label="Utility">
Utility
</a>
    </li>
         

</ul> 
 -->


 
   
    <ul class="aa-catg-nav{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
            <li >
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
                {{> components/common/navigation-list}}
            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
                {{> components/common/navigation-list-alternate}}
            {{/if}}
            </li>
        {{/each}}
        {{#unless theme_settings.hide_content_navigation}}
            {{#each pages}}
                 
             {{/each}}
        {{/unless}}
    </ul>
    


